html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff7f7;
}
.japan-site {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.japan-site__content-wrapper {
  width: 100%;
  max-width: 700px;
  height: auto;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./assets/japan.png);
  background-color: rgba(21, 21, 21, 0.6);
  border-radius: 10px;
  position: relative;
  padding: 0 50px;
  background-blend-mode: multiply;
  margin: 20px;
}
.japan-site__sun {
  width: 280px;
  height: 280px;
  background: rgba(255, 56, 56, 0.8);
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -140px;
}
.japan-site__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  color: #fff;
  margin-bottom: 25px;
}
.japan-site__title {
  font-family: Arial;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  font-size: 24px;
}
.head-menu__link {
  text-decoration: none;
  color: #fff;
}
.head-menu__link:hover {
  border-bottom: 1px solid #fff;
}
.head-menu__link:first-child {
  margin-right: 50px;
}
.left-menu__title {
  font-weight: 600;
  font-size: 9px;
  line-height: 15px;
  color: #fff;
}
.left-menu__list {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}
.japan-site__content {
  width: 215px;
  height: 46px;
  font-size: 7px;
  line-height: 12px;
  color: #ffffff;
  position: absolute;
  right: 50px;
}
.japan-site__social-list {
  list-style-type: none;
}
.japan-site__social-list {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 50px;
  bottom: 35%;
}
.social-list__item {
  width: 10px;
  height: 10px;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
}
.social-list__item-facebook {
  background-image: url(./assets/facebook.svg);
}
.social-list__item-twitter {
  background-image: url(./assets/twitter.svg);
}
.social-list__item-pinterest {
  background-image: url(./assets/pinterest.svg);
}
.social-list__item:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .japan-site__content-wrapper {
    padding: 0 20px;
  }
  .japan-site__title {
    font-size: 18px;
  }
  .head-menu__link:first-child {
    margin-right: 20px;
  }
  .head-menu__link {
    font-size: 12px;
  }
  .left-menu__list {
    font-size: 14px;
    line-height: 24px;
  }
  .japan-site__social-list {
    right: 20px;
  }
  .japan-site__content {
    margin-top: 10%;
    right: 20px;
  }
}
@media (max-width: 600px) { 
  .japan-site__title {
    font-size: 14px;
    line-height: 24px;
  }
  .japan-site__head-menu {
    display: flex;
    flex-direction: column;
  }
}